
<mat-toolbar color="primary">
<span>PAOKIMÅN</span>

<button mat-button [routerLink]="['/']" ><mat-icon>accessible</mat-icon> PAOKIMÅN</button>
<button mat-button [routerLink]="['/login']" routerLinkActive="active" *ngIf="!auth.loggedIn" ><mat-icon>pregnant_woman</mat-icon> Login</button>
<button mat-button [routerLink]="['/register']" routerLinkActive="active" *ngIf="!auth.loggedIn" ><mat-icon>pregnant_woman</mat-icon> Register</button>
<button mat-button [routerLink]="['/account']" routerLinkActive="active" *ngIf="auth.loggedIn"><mat-icon>pregnant_woman</mat-icon> Account ({{auth.currentUser.username}})</button>
<button mat-button [routerLink]="['/admin']" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin" ><mat-icon>pregnant_woman</mat-icon> Register</button>
<button mat-button [routerLink]="['/logout']" routerLinkActive="active" *ngIf="auth.loggedIn"><mat-icon>pregnant_woman</mat-icon> Logout</button>

</mat-toolbar>
<router-outlet></router-outlet>
