<app-loading [condition]="isLoading"></app-loading>



<div class="card" *ngIf="!isLoading">
  <h2 class="card-header">Account settings</h2>
  <p>Here you can change your account settings if you want to :) </p>
  <br>
  <div class="card-block">
    <form #accountForm="ngForm" (ngSubmit)="save(user)">
      <mat-form-field class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input matInput class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required>
      </mat-form-field>
      <br>
      <mat-form-field class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input matInput class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
      </mat-form-field>
      <br>
      <!--<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="role" [(ngModel)]="user.role">
          <option value="" disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>-->
      <button mat-raised-button color="primary" class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
        <i class="fa fa-save"></i> Save
      </button>
    </form>
  </div>
  <app-toast [message]="toast.message"></app-toast>
</div>
