
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}

.account{
  width: 30%;
  text-align: center;
}

.pokemon{
  width: 40%;
}

.header{
  text-align: center;
}

.list_pokemon{
  height: 100px;
}

.img{
  margin-right: 200px;
  background-color: blue;
}

.p{
  font-size: 50px;
  background-color: green;
}
