
<div class="poke-container">
  <div class="loading-shade" *ngIf="dataSource.isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Display Content in tabel -->
  <mat-table [dataSource]="dataSource">

    <!--Image-->
    <ng-container matColumnDef="sprites">
      <mat-header-cell *matHeaderCellDef>Sprite</mat-header-cell>
      <mat-cell *matCellDef="let pokemon">
        <img src="{{pokemon.sprites.front_default}}" alt="Pokeman">
      </mat-cell>
    </ng-container>

    <!--ID-->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let pokemon"> {{pokemon.id}} </mat-cell>
    </ng-container>

    <!--Name-->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </mat-cell>
    </ng-container>

    <!--Type-->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let pokemon">
          <img *ngFor="let type of pokemon.type" src="../../assets/types/{{type}}.png" alt="{{type}}" height="20">
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        The weight of {{detail.element.name}} is {{detail.element.weight}} lb.
        <button mat-raised-button color="primary" (click)="addPokemonToUser(detail.element)" *ngIf="auth.loggedIn"> Add to team! </button>
        <!-- Pass pokeStats to child -->
        <app-poke-stats [pokemonStats] = "detail" ></app-poke-stats>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [class.expanded]="expandedElement == row"
             (click)="expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
             [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource.resultsLength"
                 [pageSize]="dataSource.pageSize">
  </mat-paginator>
</div>
